
<!doctype html>
<html>
<head>
<meta charset="UTF-8" />
<title>Shopxian安装向导 - Powered by Shopxian</title>
<link rel="stylesheet" href="__ROOT_PATH__/static/css/install.css" />
</head>
<body>
<div class="wrap">
  <div class="header" style="font-size: 16px;  padding-left: 10px; line-height: 5em;">
      秀仙系统&nbsp;&nbsp;|&nbsp;&nbsp;安装向导
</div>  <div class="section">
    <div class="main cc">
      <pre class="pact" readonly="readonly">shopxian软件使用协议

版权所有 (c)2017-2018，上海秀仙网络 保留所有权利。 
感谢您选择Shopxian开源商城系统（简称Shopxian），Shopxian是国内稳定、强大、先进的互联网电商平台解决方案，Shopxian基于 PHP + MySQL 的技术。
为了使你正确并合法的使用本软件，请你在使用前务必阅读清楚下面的协议条款：
本授权协议适用且仅适用于Shopxian任何版本,不得修改后再次发布，Shopxian官方对本授权协议的最终解释权和修改权。

Shopxian官方网站：http://www.shopxian.com
-----------------------------------------------------
运营团队: 秀仙网络
电       话: 17602189021
邮       箱: admin@shopxian.com
网       址: http://www.shopxian.com

</pre>
    
    </div>
    <div class="bottom tac"> <a href="<{url link='install/Index/check'}>" style="background: url(__ROOT_PATH__/static/images/install/btn.png) no-repeat;" class="btn">接 受</a> </div>
  </div>
</div>
<div class="footer"> &copy; 2017-2018 <a href="http://www.shopxian.com" target="_blank">http://www.shopxian.com</a>shopxian出品</div></body>
</html>