@charset 'UTF-8';

.met-langlist li {
	display: inline-block;
	list-style: none;
}

.met-langlist .btn-lang .flag-icon {
	margin-right: 3px;
}

.met-langlist .dropdown-menu {
	min-width: 0;
	width: 100%;
}

.met-langlist .dropdown-menu .dropdown-item {
	white-space: nowrap;
}

@media (max-width:479px) {
	.met-langlist .btn-lang {
		padding-left: 5px;
		padding-right: 5px;
	}
}

#met-langlist-modal .modal-body .close {
	position: absolute;
	right: 10px;
	top: 0px;
}

#met-langlist-modal a.btn {
	border: none;
	font-size: 16px;
	height: 50px;
	line-height: 50px;
}

#met-langlist-modal .flag-icon {
	margin-right: 8px;
	top: 7px;
	font-size: 30px;
}

.product_list_detail_met_16_1.pagetype1 {
	background: #f2f2f2;
}

.product_list_detail_met_16_1.pagetype1 {
	background: ;
}

.product_list_detail_met_16_1 .section {
	padding: 15px 0;
	background: #fff;
}

.product_list_detail_met_16_1 .met-showproduct-body {
	background: #f2f2f2;
	background: ;
}

.product_list_detail_met_16_1 .content .met-editor,
.product_list_detail_met_16_1 .content .product-para {
	padding: 30px;
}

.product_list_detail_met_16_1 .product-para li {
	color: ;
}

@media (max-width:767px) {
	.product_list_detail_met_16_1 .content .met-editor,
	.product_list_detail_met_16_1 .content .product-para {
		padding: 15px;
	}
}


/* 图片切换列表 */

.product_list_detail_met_16_1 .slick-prev:before,
.slick-next:before {
	display: none;
}

.product_list_detail_met_16_1 .slick-prev {
	left: 25px;
}

.product_list_detail_met_16_1 .slick-next {
	right: 25px;
}

.product_list_detail_met_16_1 #met-imgs-slick {
	min-height: 150px;
	text-align: center;
}

.product_list_detail_met_16_1 #met-imgs-slick.slick-dotted {
	padding-bottom: 80px;
}

.product_list_detail_met_16_1 #met-imgs-slick.slick-slider:not(.slick-fade) .slick-slide {
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
}

.product_list_detail_met_16_1 #met-imgs-slick.fngallery.slick-fade .slick-slide:not(.slick-active) {
	visibility: hidden;
}

.product_list_detail_met_16_1 #met-imgs-slick.fngallery .slick-slide a,
#met-imgs-slick.fngallery .slick-slide img {
	cursor: zoom-in;
}

.lg-outer .iconfont {
	display: none;
}

.product_list_detail_met_16_1 #met-imgs-slick .slick-slide {
	float: none;
	display: block;
}

.product_list_detail_met_16_1 #met-imgs-slick.slick-initialized .slick-slide {
	float: left;
	display: block;
}

@media screen\0 {
	.product_list_detail_met_16_1 #met-imgs-slick.fngallery .slick-slide a,
	#met-imgs-slick.fngallery .slick-slide img {
		cursor: url(https://gsp0.baidu.com/5aAHeD3nKhI2p27j8IqW0jdnxx1xbK/tb/img/frs/cur_zin.cur?t=1489493164029), pointer;
	}
}

.product_list_detail_met_16_1 #met-imgs-slick .slick-slide a {
	display: inline-block;
}

.product_list_detail_met_16_1 #met-imgs-slick .slick-slide img {
	max-height: 700px;
	display: inline;
}

@media (max-height:900px) {
	.product_list_detail_met_16_1 #met-imgs-slick .slick-slide img {
		max-height: 600px;
	}
}

@media (max-height:800px) {
	.product_list_detail_met_16_1 #met-imgs-slick .slick-slide img {
		max-height: 500px;
	}
}

@media (max-height:700px) {
	.product_list_detail_met_16_1 #met-imgs-slick .slick-slide img {
		max-height: 400px;
	}
}

@media (max-height:600px) {
	.product_list_detail_met_16_1 #met-imgs-slick .slick-slide img {
		max-height: 350px;
	}
}

@media (max-height:500px) {
	.product_list_detail_met_16_1 #met-imgs-slick .slick-slide img {
		max-height: 300px;
	}
}

.product_list_detail_met_16_1 #met-imgs-slick .slick-img-cover {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000;
}

.product_list_detail_met_16_1 #met-imgs-slick .swiper-navtab {
	width: 100%;
	height: 69px;
	position: absolute;
	left: 0;
	bottom: 0;
	cursor: grab;
}

.product_list_detail_met_16_1 #met-imgs-slick .swiper-navtab .slick-dots {
	bottom: 5px;
}

.product_list_detail_met_16_1 #met-imgs-slick .slick-dots {
	height: 64px;
	bottom: 0;
	z-index: 2;
}

.product_list_detail_met_16_1 #met-imgs-slick .slick-dots li {
	width: 60px;
	height: 60px;
	margin: 0 0 0 10px;
	border: 2px solid #ddd;
	opacity: 0.7;
}

.product_list_detail_met_16_1 #met-imgs-slick .slick-dots li:first-child {
	margin: 0;
}

.product_list_detail_met_16_1 #met-imgs-slick .slick-dots li.slick-active {
	border-color: #1e8bc3;
	border-color: #1e8bc3;
}

.product_list_detail_met_16_1 #met-imgs-slick .slick-dots li img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.product_list_detail_met_16_1 #met-imgs-slick.slick-slider .slick-arrow {
	height: calc(100% - 80px);
}

.product_list_detail_met_16_1 #met-imgs-slick .slick-arrow {
	width: 15%;
	height: 100%;
	top: 0;
	transform: translate(0, 0);
	z-index: 999;
}

.product_list_detail_met_16_1 #met-imgs-slick .slick-arrow.slick-prev {
	text-align: left;
}

.product_list_detail_met_16_1 #met-imgs-slick .slick-arrow.slick-next {
	text-align: right;
}

.product_list_detail_met_16_1 #met-imgs-slick .slick-arrow i {
	font-size: 50px;
	color: #999;
}

@media (max-width:767px) {
	.product_list_detail_met_16_1 #met-imgs-slick.slick-slider .slick-arrow {
		height: calc(100% - 60px);
	}
	.product_list_detail_met_16_1 #met-imgs-slick.slick-dotted {
		padding-bottom: 60px;
	}
	.product_list_detail_met_16_1 #met-imgs-slick .swiper-navtab {
		height: 47px;
	}
	.product_list_detail_met_16_1 #met-imgs-slick .slick-dots {
		height: 42px;
	}
	.product_list_detail_met_16_1 #met-imgs-slick .slick-dots li {
		width: 40px;
		height: 40px;
		margin-left: 5px;
		border-width: 1px;
	}
}


/* 商品详情页-产品信息 */

.product_list_detail_met_16_1.met-showproduct-head .product-para {
	margin: 0;
	padding: 10px 0;
}

.product_list_detail_met_16_1 .navbar-toggle {
	line-height: 66px;
	background: transparent;
	border: 0;
	float: right;
	outline: 0;
}

.product_list_detail_met_16_1.met-showproduct-head .product-intro h1 {
	color: #37474f;
}

.product_list_detail_met_16_1.met-showproduct-head .product-intro h1 {
	color: ;
}

.product_list_detail_met_16_1 .met-showproduct-head .product-intro p.description {
	color: #5e7387;
	color: ;
}

.product_list_detail_met_16_1 .product-intro h1 {
	color: #37474f;
	color: ;
}

@media (max-width:991px) {}

.product_list_detail_met_16_1.met-showproduct-head .product-intro {
	margin-top: 20px;
}


}
.product_list_detail_met_16_1 .product-para {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	padding: 15px 0;
}

/* 商品详情页-产品内容详情 */
.product_list_detail_met_16_1 .product-detail .met-editor .product-para {
	margin-bottom: 15px;
	padding-bottom: 10px;
}
@media (max-width:767px) {
	.product_list_detail_met_16_1 .content {
		padding: 15px;
	}
}

/* 产品详情页-侧栏 */
.product_list_detail_met_16_1 .sidebar-piclist h4>a {
	color: #37474f;
	color: ;
	text-shadow: none;
}
.product_list_detail_met_16_1 .sidebar-piclist li:hover a {
	color: #1e8bc3;
	color: #1e8bc3;
}
.product_list_detail_met_16_1 .sidebar-piclist h4 {
	text-align: left;
}
.product_list_detail_met_16_1 .sidebar-piclist p {
	text-align: left;
	color: #37474f;
}
.product_list_detail_met_16_1 .met-sidebar {
	margin-left: 30px;
}
@media (max-width:991px) {
	.product_list_detail_met_16_1 .met-sidebar {
		margin-left: 0px;
		margin-top: 20px;
	}
}
@media (max-width:767px) {
	.product_list_detail_met_16_1 .met-sidebar {
		margin-top: 15px;
	}
}
.product_list_detail_met_16_1 .met-sidebar>:not(:first-child) {
	margin: 20px 0 0;
	padding: 20px 0 0;
	border-top: 1px solid #f0f2f5;
}
.product_list_detail_met_16_1 .leftsidebar {
	margin-left: 0 !important;
	margin-right: 30px;
}
@media (max-width:991px) {
	.product_list_detail_met_16_1 .leftsidebar {
		margin-right: 0px;
	}
}
.product_list_detail_met_16_1 .sidebar-column li a {
	display: block;
	font-size: 16px;
}
.product_list_detail_met_16_1 .sidebar-column li i {
	float: right;
	margin-top: 2px;
	font-size: 14px;
}
.product_list_detail_met_16_1 .sidebar-column li ul a {
	font-size: 14px;
}
@media (min-width:768px) {
	.product_list_detail_met_16_1 .navbar-toggle {
		display: none;
	}
}

/* 时尚模式 */
.product_list_detail_met_16_1.met-showproduct.pagetype2 nav.navbar {
	min-height: 50px;
	margin-bottom: 0px;
	background: #f5f5f5;
	background: ;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
}
.product_list_detail_met_16_1.met-showproduct.pagetype2 nav.navbar.navbar-fixed-top {
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.95);
	background: ;
}
.product_list_detail_met_16_1.met-showproduct.pagetype2 nav.navbar h1 {
	margin: 0px;
	height: 50px;
	line-height: 50px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.product_list_detail_met_16_1.met-showproduct.pagetype2 nav.navbar h1 {
	color: #37474f;
	color: ;
}
.product_list_detail_met_16_1.met-showproduct.pagetype2 nav.navbar .nav {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
}
.product_list_detail_met_16_1.met-showproduct.pagetype2 nav.navbar .nav>li>a {
	padding-top: 0px;
	padding-bottom: 0px;
	height: 50px;
	line-height: 50px;
	white-space: nowrap;
}
.product_list_detail_met_16_1.met-showproduct.pagetype2 nav.navbar .navbar-toggle {
	height: 50px;
	padding-top: 0px;
	padding-bottom: 0px;
	background: transparent;
	border: none;
}
.product_list_detail_met_16_1.met-showproduct.pagetype2 nav.navbar .navbar-right li.active a {
	color: #1e8bc3;
	color: #1e8bc3;
}
@media (max-width:767px) {
	.product_list_detail_met_16_1.met-showproduct.pagetype2 nav.navbar .nav {
		float: none;
	}
}
.product_list_detail_met_16_1.met-showproduct.pagetype2 .content {
	padding: 30px 0px;
	background: ;
}
.product_list_detail_met_16_1.met-showproduct.pagetype2 .content ul {
	border: none;
}
@media (max-width:767px) {
	.product_list_detail_met_16_1.met-showproduct.pagetype2 .content {
		padding: 10px 0px;
	}
	
	.product_list_detail_met_16_1.met-showproduct.pagetype2 .blocks {
		padding-left: 10px;
	}
	
	.product_list_detail_met_16_1.met-showproduct.pagetype2 .blocks li {
		width: 50%;
		word-wrap: break-word;
	}
	
	.product_list_detail_met_16_1.met-showproduct.pagetype2 .blocks li:nth-child(2n+1) {
		clear: both;
	}
	
	.product_list_detail_met_16_1.met-showproduct.pagetype2 .blocks li .widget {
		margin-right: 10px;
	}
}
.product_list_detail_met_16_1 .swiper-slide {
	width: auto;
}
.product_list_detail_met_16_1 .nav-tabs-line .nav-item.open .nav-link,
.nav-tabs-line .nav-item.open .nav-link:focus,
.nav-tabs-line .nav-item.open .nav-link:hover,
.nav-tabs-line .nav-link.active,
.nav-tabs-line .nav-link.active:focus,
.nav-tabs-line .nav-link.active:hover {
	color: #1e8bc3;
	border-bottom: 2px solid #1e8bc3;
	color: #1e8bc3;
	border-bottom: 2px solid #1e8bc3;
}
.met-showproduct.pagetype2 .content:nth-child(even) {
	background: #f2f2f2;
}
.met-showproduct.pagetype2 .content:nth-child(even) {
	background: ;
}
.met-editor img {
	max-width: 100%;
}
.tag {
	font-size: 14px;
	color: #666;
	padding: 0 30px 30px;
}
.tag a {
	color: #666;
	padding: 5px;
}
.tag a:hover {
	color: #1e8bc3;
	color: #1e8bc3;
}