<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="__ROOT_PATH__/static/layui-v2.1.1/layui/css/layui.css"  media="all">
    </head>
    <body>
        <table width="100%" border="1" class="layui-table">
            <tbody>
              <tr>
                <td align="right" width="15%">数据缓存</td>
                <td><button type="button" class="layui-btn layui-btn-warm" onclick="window.location='<{url link="cacheDataDel"}>'">清除</button></td>
              </tr>
              <tr>
                <td align="right" width="15%">模版缓存</td>
                <td><button type="button" class="layui-btn layui-btn-warm" onclick="window.location='<{url link="cacheTplDel"}>'">清除</button></td>
              </tr>
              <tr>
                <td align="right" width="15%">log缓存</td>
                <td><button type="button" class="layui-btn layui-btn-warm" onclick="window.location='<{url link="cacheLogDel"}>'">清除</button></td>
              </tr>
              <tr>
                <td align="right" width="15%">静态缓存</td>
                <td><button type="button" class="layui-btn layui-btn-warm" onclick="window.location='<{url link="cacheStaticDel"}>'">清除</button></td>
              </tr>
            </tbody>
          </table>
    </body>
</html>
